textarea { width: 400px; }

.publicsetting { margin-top: 1em; margin-bottom: 1em; font-size: 125% }
.publicsetting input { transform: scale(1.5) }
.publicsetting label { font-weight: bold }
.publicurl { display: none; margin: 5px }

.adddiv { margin-top: 1em; }
